* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background: url(images/blake-connally-B3l0g6HLxr8-unsplash.jpg);
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.logo {
  margin-left: 50px;
  margin-top: 10px;
  display: inline-block;
}
.logo a {
  color: #fff;
  font-size: 30px;
}

.menu ul {
  top: 5%;
  left: 25%;
  word-spacing: 40px;
  position: absolute;
}

.menu ul li {
  margin-right: 150px;
  align-items: center;
  display: inline-block;
}

.menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.menu ul li a:hover {
  color: #104600;
}

.contacts {
  padding: 9px 25px;
  background-color: #104600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.menu .contacts ul li a:hover {
  color: #fff;
}

.menu .contacts a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  align-items: center;
}

.app-text {
  position: absolute;
  top: 32%;
  left: 15%;
}

.app-text h1 .pink {
  color: #104600;
}

.app-text h1 .white {
  color: #fff;
}

.btn-group {
  color: white;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.btn-group .play-btn {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.btn-group span {
  font-size: 20px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 45%;
  left: 20%;
}

.play-btn-inner span a {
  color: #fff;
}

.play-btn-inner i {
  font-size: 15px;
  display: inline-flex;
  width: 80px;
  height: 80px;
  padding-left: 4px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease-out;
  position: absolute;
  left: 15%;
  top: 42%;
}

.play-btn-inner:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.play-btn-inner span a:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.btn-group .primary-btn:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  border-top: 1px solid #fff;
  top: 46%;
  left: 0;
}

.social-icons {
  position: absolute;
  right: 50px;
  bottom: 2%;
}

.social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.social-icons ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.social-icons ul li a:hover {
  background: #fff;
  color: #104600;
}

.copy-right {
  position: absolute;
  left: 50px;
  bottom: 4%;
  color: #fff;
  font-size: 13px;
}

h2 {
  font-size: 175px;
  margin-top: 900px;
  margin-left: 635px;
}

.abouttext ul {
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 10%;
}
