* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  height: 100%;
}

body {
  overflow: overlay;
}

.background {
  background-color: grey;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.logo h1 {
  color: white;
  font-size: 30pt;
  text-align: left;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  display: inline-block;
  align-items: center;
  padding-top: 20px;
  width: fit-content;
}

.navbar ul {
  top: 10%;
  position: absolute;
  align-items: center;
}

.navbar ul li {
  align-items: center;
  display: inline-block;
}

.navbar ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s;
  overflow: hidden;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover {
  color: #104600;
}

.sticky {
  z-index: 10;
  top: 0%;
  position: fixed;
  background-color: black;
  display: flex;
  width: 100%;
  padding: 20px 10%;
  box-sizing: border-box;
}

.sticky .navbar ul {
  padding-inline: 9%;
  word-spacing: 250px;
  display: block;
}

.content {
  padding: 16px;
}

.contacts {
  padding: 9px 25px;
  background-color: #104600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.menu .contacts ul li a:hover {
  color: #fff;
}

.menu .contacts a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  align-items: center;
}

#newabout {
  scroll-margin-top: 50px;
}

.app-text {
  position: absolute;
  top: 30%;
  left: 15%;
}

.app-text h1 {
  font-size: 30pt;
}

.app-text h1 .pink {
  color: #104600;
}

.app-text h1 .white {
  color: #fff;
}

.btn-group {
  color: white;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.btn-group .play-btn {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.btn-group span {
  font-size: 20px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 45%;
  left: 20%;
}

.play-btn-inner span a {
  color: #fff;
}

.play-btn-inner i {
  font-size: 15px;
  display: inline-flex;
  width: 80px;
  height: 80px;
  padding-left: 4px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease-out;
  position: absolute;
  left: 15%;
  top: 42%;
}

.play-btn-inner:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.play-btn-inner span a:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.btn-group .primary-btn:before {
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  border-top: 1px solid #fff;
  top: 46%;
  left: 0%;
}

h2 {
  font-size: 175px;
  text-align: center;
}

.abouttext ul {
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 200%;
  margin-top: 10%;
}

#projects {
  scroll-margin-top: 30px;
  text-align: center;
  font-size: 35px;
  background-color: grey;
  height: 1000px;
}

#projects .project1 p {
  width: 300px;
  margin-left: 50px;
  text-align: center;
  margin-top: 170px;
  font-size: 15px;
}

.project1 {
  left: 20%;
  margin-top: 5%;
  position: absolute;
  border-radius: 60px;
  background: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 400px;
  transition: ease-out 0.5s;
}

.project1:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transition: all 0.5s ease-out;
}

#projects .project2 p {
  width: 300px;
  margin-left: 50px;
  text-align: center;
  margin-top: 190px;
  font-size: 15px;
}

.project2 {
  right: 20%;
  margin-top: 5%;
  position: absolute;
  border-radius: 60px;
  background: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 400px;
  transition: ease-out 0.5s;
}

.project2:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transition: all 0.5s ease-out;
}

.project3 {
  left: 20%;
  margin-top: 30%;
  position: absolute;
  border-radius: 60px;
  background: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 400px;
  transition: ease-out 0.5s;
}

.project3:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transition: all 0.5s ease-out;
}

.project4 {
  right: 20%;
  margin-top: 30%;
  position: absolute;
  border-radius: 60px;
  background: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 400px;
  transition: ease-out 0.5s;
}

.project4:hover {
  transform: scale(1.1);
  box-shadow: 5px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transition: all 0.5s ease-out;
}

#background1 {
  background-color: #fff;
  height: 400px;
  background-size: cover;
  background-repeat: none;
}
.footername {
  position: absolute;
  margin-top: -265px;
  margin-left: 105px;
  font-weight: bold;
  font-size: 40px;
}

.social-icons {
  margin-left: 88px;
  margin-top: -210px;
}

.social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.social-icons ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.social-icons ul li a:hover {
  background: grey;
  color: black;
}

.copy-right {
  position: absolute;
  border-radius: 50px;
  color: black;
  font-size: 13px;
  margin-left: 94px;
  margin-top: -150px;
}

.address p {
  color: black;
  text-align: center;
  position: absolute;
  margin-left: 1236px;
  margin-top: -225px;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

.address p:hover {
  color: #104600;
  transform: scale(0.9);
}

.addresshead {
  position: absolute;
  font-weight: lighter;
  font-size: 27px;
  margin-left: 1250px;
  margin-top: -275px;
}

.phonehead {
  position: absolute;
  font-weight: lighter;
  font-size: 27px;
  margin-left: 1550px;
  margin-top: -325px;
}

.phone a {
  text-decoration: none !important;
  color: black;
  text-align: center;
  position: absolute;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 1530px;
  margin-top: -275px;
  transition: ease-in-out 0.3s;
}

.phone a:hover {
  color: #104600;
  transform: scale(0.9);
  display: flex;
}

.emailhead {
  color: black;
  position: absolute;
  font-weight: lighter;
  font-size: 27px;
  margin-left: 1555px;
  margin-top: -150px;
}

.email a {
  color: black;
  text-align: center;
  position: absolute;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 1475px;
  margin-top: -100px;
  transition: ease-in-out 0.3s;
}

.email a:hover {
  color: #104600;
  transform: scale(0.9);
}
