* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.background {
  background-image: url("images/blake-connally-B3l0g6HLxr8-unsplash.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.1);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.logo h1 {
  color: white;
  font-size: 30pt;
  text-align: left;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  display: inline-block;
  align-items: center;
  padding-top: 20px;
  width: fit-content;
}

.navbar ul {
  top: 10%;
  position: absolute;
  align-items: center;
}

.navbar ul li {
  align-items: center;
  display: inline-block;
}

.navbar ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s;
  overflow: hidden;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover {
  color: #104600;
}

.sticky {
  z-index: 10;
  top: 0;
  position: absolute;
  background-color: black;
  display: block;
  width: 100%;
  padding: 20px 10%;
}

.sticky .navbar ul {
  padding-inline: 9%;
  word-spacing: 250px;
  display: block;
}

.content {
  padding: 16px;
}

.contacts {
  padding: 9px 25px;
  background-color: #104600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.menu .contacts ul li a:hover {
  color: #fff;
}

.menu .contacts a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
  align-items: center;
}

.app-text {
  position: absolute;
  top: 30%;
  left: 15%;
}

.app-text h1 {
  font-size: 30pt;
}

.app-text h1 .pink {
  color: #104600;
}

.app-text h1 .white {
  color: #fff;
}

.btn-group {
  color: white;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.btn-group .play-btn {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.btn-group span {
  font-size: 20px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 45%;
  left: 20%;
}

.play-btn-inner span a {
  color: #fff;
}

.play-btn-inner i {
  font-size: 15px;
  display: inline-flex;
  width: 80px; 
  height: 80px;
  padding-left: 4px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease-out;
  position: absolute;
  left: 15%;
  top: 42%;
}

.play-btn-inner:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.play-btn-inner span a:hover {
  color: #104600;
  border-color: #104600;
  transition: all 0.5s;
}

.btn-group .primary-btn:before {
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  border-top: 1px solid #fff;
  top: 46%;
  left: 0%;
}

.social-icons {
  position: absolute;
  right: 50px;
  bottom: 2%;
}

.social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.social-icons ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.social-icons ul li a:hover {
  background: #fff;
  color: #104600;
}

.copy-right {
  position: absolute;
  left: 50px;
  bottom: 4%;
  color: #fff;
  font-size: 13px;
}

h2 {
  font-size: 175px;
  text-align: center;
}

.abouttext ul {
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 10%;
}
